[submodule "test/preprocessor"]
	path = test/preprocessor
	url = https://github.com/pycpp/preprocessor-test.git
	branch = master
[submodule "pycpp/preprocessor"]
	path = pycpp/preprocessor
	url = https://github.com/pycpp/preprocessor.git
	branch = master
[submodule "third_party/warnings"]
	path = third_party/warnings
	url = https://github.com/pycpp/warnings.git
	branch = master
[submodule "third_party/googletest"]
	path = third_party/googletest
	url = https://github.com/pycpp/googletest.git
	branch = master
[submodule "third_party/benchmark"]
	path = third_party/benchmark
	url = https://github.com/pycpp/benchmark.git
	branch = master
[submodule "pycpp/system"]
	path = pycpp/system
	url = https://github.com/pycpp/system.git
	branch = master
[submodule "test/system"]
	path = test/system
	url = https://github.com/pycpp/system-test.git
	branch = master
[submodule "test/stl"]
	path = test/stl
	url = https://github.com/pycpp/stl-test.git
	branch = master
[submodule "pycpp/stl"]
	path = pycpp/stl
	url = https://github.com/pycpp/stl.git
	branch = master
[submodule "pycpp/sfinae"]
	path = pycpp/sfinae
	url = https://github.com/pycpp/sfinae.git
	branch = master
[submodule "test/sfinae"]
	path = test/sfinae
	url = https://github.com/pycpp/sfinae-test.git
	branch = master
